{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h2><strong>Upravit Hráče</strong></h2>
        </div>
        <form action="{% url 'hrac_edit' form.instance.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" class="btn btn-success" value="Uložit">
        </form>

    <br>
    </div>
    <div class="container">
    <form>
            <input type="button" class="btn btn-primary" value="Zpět" onclick="history.back()">
        </form>
    </div>
{% endblock %}