{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="page-header">
            <h2><strong>{{ hrac }}</strong></h2>
        </div>
        <h4><strong>Datum narození:</strong> {{ hrac.datum_narozeni|date:"j.n.Y" }}</h4>
        <h4><strong>Výška:</strong> {{ hrac.vyska}} cm</h4>
        <h4><strong>Pozice:</strong> {{ hrac.pozice}}</h4>
        <h4><strong>Klub:</strong> {{ hrac.klub}}</h4>
         <a href="{% url 'hrac_edit' hrac.id %}" class="btn btn-warning" role="button">Upravit</a>
    </div>
    <br>
    <div class="container">
    <form action="{% url 'hrac_delete' hrac.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" role="button" value="Smazat">
        </form>
         </div>
    <br>
    <div class="container">

    <a href="{% url 'seznam_hracu' %}" class="btn btn-primary" role="button">Zpět</a>

    </div>
{% endblock %}